#!/usr/bin/env bash

# 秘匿設定読み込み
if [ -f "./.env.secret" ]; then
  dotenv ./.env.secret
else
  echo "ERROR: .env.secret が必要です。.env.secret.template をコピーして作成してください" >&2
  exit 1
fi

# template ファイルから必要な環境変数の設定が漏れていないかチェック
required_envs=$(cat .env.secret.template | grep -v -E '^#' | cut -d '=' -f 1)

for required_env in $required_envs; do
  if [ -z "${!required_env}" ]; then
    echo "ERROR: 環境変数の ${required_env} が未設定です。.env.secret に追加が漏れていないか確認してください" >&2
    exit 1
  fi
done
